body,p
{ 
  font-size: small;
  font-family: Helvetica,'sans serif'; 
}

table.gr
{
margin-left:auto;
margin-right:auto;
text-align:center;
font-size: 95%;
border-collapse: collapse;
border: 3px solid gray;
/*padding: 2px;*/
background-color: white;
}

table.gr tbody td
{
border-bottom: 1px solid gray;
}

table.gr td
{
padding: 2x 2px 2px 2px;
}

table.ref
{ 
font-size: 90%;
border-collapse: collapse;
border: 0px;
}

table.ref td
{ 
padding: 2px 2px 3px 5px;  /* top right bottom left */
}

colgroup
{ 
border: 2px solid gray;
}

thead
{ 
border: 2px solid gray;
}

thead td
{ 
padding: 5px 3px 0px 3px;
}

td.bt{  border-top: 1px solid gray; }
.hidden{ display: none }
.smfont{ font-size:75%; }
.rank
{ 
font-size: 75%;
color: blue;
}
.avgRank{ color: blue;}
tr.white{background-color: white;}
tr.blue{background-color: #99ccff;}
td.green{background-color: #CCFFCC;}
td.lgreen{background-color: #7CCD7C;}
td.yellow{background-color: #FFFF99;}

body
{ 
  background-color:#EDEDED;
}  
a:link{color: black;}
a:visited{color: #23238E;}
a:active{color: #23238E;}          
  
a:hover
{  
color: #CCCCCC;
background-color: #333333;
text-decoration: none;
}

.outerBar{position: relative; border: 1px solid black; padding: 0px; background-color: #ffffff; text-align: right;}
.innerText{position: absolute; right: 0%; top: 0%; z-index: 2; color: #000000;}
.innerBar{position: absolute; left: 0%; top: 0%; z-index: 1; background-color: #7CCD7C;} 


